.heading{
    width: 100%;
    height: 100vh;
    background-image: url(image/img-rlief.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    
}
.headline{
    text-align: center;
   
}
.bg-title{
    font-size: 30px;
    padding-top: 320px;
    color:darkcyan;
}
.para{
    font-size: 20px;
    color:cyan;
}
.button{
    background-color: rgb(6, 65, 65);
    color:white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}